/*======================================================*/
/* 25.12 신규 작성 JCH - v1 */
/*======================================================*/

/* font set */
@charset "utf-8";
@import url(font.css);

/* common reset */
*{
    margin:0;
    padding:0;
    border:0;
    font-family: 'Pretendard', sans-serif;
    font-size:16px;
    box-sizing:border-box;
    word-break: keep-all;
}

html, body{
    width:100%;
    height:100%;
}

*::after, *::before{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing:border-box; 
}

img{
    margin:0;
    display:block;
    max-width:100%;
}

ul, ol ,li{
    list-style: none;
}

input, select, textarea, button{
    outline: none;
}

textarea{
    overflow: auto;
}

legend{
    display: none;
}

input, select, img, li{
    text-align: left;
    vertical-align: middle;
}

a{
    text-decoration: none;
    cursor: pointer;
}

button{
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}































