/* PC */
@media screen and (max-width: 1480px) {
    .report .lnb-form{
        left:1.25rem;
    }
}


@media screen and (max-width: 1200px) {
    .ai-result-form .result-form .result-list .result-box{
        width:calc( 33.33% - 2rem );
    }

    .report .lnb-form .lnb-mo{
        display:flex;
        cursor:pointer;
    }

    .report .lnb-form{
        left:0;
        top:0 !important;
        width:100%;
        padding: 1rem 1.25rem;
        background:#fff;
    }

    .report .lnb-form .lnb-box{
        display:none;
    }

    .report .lnb-form + .report-section{
        padding-top:7rem;
    }

    .report-form{
        padding-left:0;
    }

}


/* Tab */
@media screen and (max-width: 1024px) {
    /* header */
    header .header-top{
        padding:0 1.25rem;
    }

    /* main */
    .main-ai-form .ai-list .ai-con{
        width: calc(50% - 0.40625rem);
    }

    .main-filed-form .filed-list .filed-con{
        width:calc( 50% - 0.25rem );
    }

    /* 상세화면 */
    .view-con-scection .view-form .view-box .view-con.box-2n{
        width:100%;
    }

    /* 리포트 */
    .report-form .report-box .report-con .report-flex .report-flex-box{
        width:100% !important;
    }

    .report-form .report-box .report-con .report-index .report-index-list .report-index-con{
        width:calc(50% - 0.4375rem);
    }

    .join-report-form .join-report-box .join-report-con{
        width:100%;
    }

    .join-report-con .report-cont .join-index .join-index-con{
        width:calc(20% - 0.65rem);
    }

    #cooperationPop .cooperation-form .cooperation-left{
        width:100%;
    }

    #cooperationPop .cooperation-form .cooperation-right{
        width:100%;
    }

    .report-form .report-box .journal-form .journal-box.graph-type{
        width:100%;
    }

    .report-form .report-box .journal-form .journal-box.info-type{
        width:100%;
    }

}

@media screen and (max-width: 920px){
    .ai-result-form .result-form .result-list{
        flex-wrap: wrap;
        gap:2rem;
    }

    .ai-result-form .result-form .result-list .result-box{
        width:100%;
    }

    .analysis-section .analysis-tbl-form .analysis-tbl{
        min-width:64rem;
    }

    .analysis-section .analysis-flex .analysis-box{
        width:100%;
    }
}

@media screen and (max-width: 820px) {
    .view-con-scection .over-head .over-box{
        flex-wrap: wrap;
        gap:1rem;
    }
    .view-con-scection .over-head .over-box .over-con{
        width:calc( 50% - 0.5rem );
    }

    .view-con-scection .over-head .over-box .over-con + .over-con::before{
        display: none;
    }

    /* 리포트 */
    .view-tab-box .view-tab-con .join-form .join-box{
        width:100%;
    }

    .report-form .report-box .report-con .title-box .con-title{
        flex-wrap: wrap;
    }

    .report-form .report-box .report-con .title-box .con-title .sub{
        width:100%;
    }

    #cooperationPop .topic-form .topic-list-form{
        width:100%;
    }

    #cooperationPop .topic-form .topic-list-form .topic-list-box{
        display:flex;
        flex-wrap: wrap;
        gap:1rem;
    }

    #cooperationPop .topic-form .topic-list-form .topic-list-box .topic-list-con{
        width:calc(33.33% - 0.6666rem);
        border:0.0625rem solid #e5e8eb;
        border-radius: 0.625rem;
    }

    #cooperationPop .topic-form .topic-list-form .topic-list-box .topic-list-con + .topic-list-con .topic-list{
        border:0;
    }

    #cooperationPop .topic-form .topic-list-form .topic-list-box .topic-list-con.active::before{
        display:none;
    }

    #cooperationPop .topic-form .topic-list-form .topic-list-box .topic-list-con.active{
        border-right:0.0625rem solid #e5e8eb;
        border-radius: 0.625rem;
    }

    #cooperationPop .topic-form .topic-box{
        width:100%;
        margin-top:1.25rem;
    }
}

@media screen and (max-width: 750px) {
    /* header */
    header .header-top{
        flex-direction: column;
        padding:1rem 1.25rem;
        height:auto;
    }

    header .header-top .top-menu{
        margin-top:1rem;
    }

    header .page-header .page-header-box .page-btn{
        order:1;
        width:100%;
        justify-content: center;
    }

    header .page-header .page-header-box .page-btn .btn-list{
        justify-content: center;
    }

    header .page-header .page-header-box .page-nav{
        order:2;
        width:100%;
        margin-top:1.5rem;
    }

    header .page-header .page-header-box .page-nav .nav-box{
        justify-content: center;
    }

    header .page-header .page-header-box .page-title{
        order:3;
        width:100%;
        text-align: center;
        justify-content: center;
    }
    
    header .page-header .page-header-box .page-title .header-select{
        width:100%;
        justify-content: center;
    }

    /* footer */
    footer .footer-form .footer-info .footer-info-list li{
        text-align: center;
    }

    footer .footer-form .footer-btn .btn-list{
        justify-content: center
    }

    footer .copylight{
        justify-content: center;
    }

    /* main */
    .main-search-form .main-search{
        background-size:contain
    }

    .main-ai-form .ai-list .ai-con{
        width:100%;
    }

    .main-filed-form .filed-list .filed-con{
        width:100%;
    }

    .main-search-form .main-search .main-search-box .recommend-box{
        flex-wrap: wrap;
    }

    .main-search-form .main-search .main-search-box .recommend-box{
        gap:0.5rem;
    }

    .main-search-form .main-search .main-search-box .recommend-box .title{
        width:100%;
    }

    .main-search-form .main-search .main-search-box .recommend-box .recommend-list{
        width:100%;
    }

    /* 검색 리스트 */
    .search-list-form .list-form .list-box .list-con .info-con .list-title .title{
        width:100%;
    }
    
    .search-list-form .list-form .list-box .list-con .info-con .list-info .status + .bage-box{
        margin-left:0;
        
    }

    .search-list-form .list-form .list-box .list-con .info-con .list-info .bage-box{
        width:100%;
        margin-top:1rem;
    }

    .search-list-form .list-form .list-box .list-con .info-con .list-info .bage-box + .total-thesis{
        margin-left:0;
        margin-top:1rem;
    }

    /* 상세화면 */
    .view-tab-form .tab-box{
        flex-wrap: wrap;
        height:auto;
    }

    .view-tab-form .tab-box .tab-con{
        width:100%;
        height:2.75rem;
    }

    .view-tab-form .tab-box .tab-con + .tab-con::before{
        display: none;
    }

    .view-recommend .recommend-list .recommend-box .recommend-con .info-box{
        flex-wrap: wrap;
    }

    .view-recommend .recommend-list .recommend-box .recommend-con .bage-box{
        width:100%;
    }

    .view-recommend .recommend-list .recommend-box .recommend-con .info-list + .bage-box::before{
        display:none;
    }

    .journal-list .journal-box .head-box .title-box .title{
        width:100%;
    }

    .connected-form .connected-list{
        flex-wrap: wrap;
    }

    .connected-form .connected-list .connected-con{
        width:100%;
    }

    .connected-form .connected-list .connected-con + .connected-con::before{
        display:none;
    }

    .report-form .report-box .report-con .report-ai-box .ai-comment{
        flex-wrap: wrap;
    }

    .report-form .report-box .report-con .report-ai-box .report-ai-con .report-ai-list{
        flex-wrap: wrap;
    }

    .report-form .report-box .report-con .report-ai-box .report-ai-con .report-ai-list .report-ai{
        width:100%;
    }

    .report-form .report-box .report-con .report-index .report-index-list .report-index-con{
        width:100%;
    }

    .researcher-list-form .researcher-list-box .researcher-list-con{
        width:100%;
    }

    .join-report-con .report-cont .join-index .join-index-con{
        width:calc(33.33% - 0.541666rem)
    }

    #cooperationPop .topic-form .topic-box .topic-con .topic-list-filter .check-form{
        width:100%;
    }

    .report-head .college-select-form{
        width:100%;
        margin-top:1rem;
    }

    .report-form .report-box .journal-tbl-form .journal-tbl .journal-tbl-row{
        min-width:54.625rem;
    }

    .report-form .report-box .journal-tbl-form .journal-tbl .journal-tbl-row .journal-tbl-cell:nth-child(2){
        width:10.625rem;
    }

    .report-form .report-box .journal-tbl-form .journal-tbl .journal-tbl-row .journal-tbl-cell:nth-child(3){
        width:13.75rem;
    }

    .report-form .report-box .journal-tbl-form .journal-tbl .journal-tbl-row .journal-tbl-cell:nth-child(4){
        width:8.125rem;
    }

    .analysis-section .analysis-tbl-form .analysis-tbl{
        min-width:54.625rem;
    }

    .analysis-section .analysis-tbl-form .analysis-tbl.journal-tbl02 .analysis-row .analysis-cell:nth-child(4){
        width:16%;
    }

    .analysis-section .analysis-tbl-form .analysis-tbl.journal-tbl02 .analysis-row .analysis-cell:nth-child(5){
        width:10%;
    }

    .analysis-section .analysis-tbl-form .analysis-tbl .analysis-row .analysis-cell.number{
        width:5%;
    }
}

@media screen and (max-width:520px) {
    .btn-tab-form .btn-tab-box{
        width:calc( 50% - 0.25rem );
    }

    .btn-tab-form .btn-tab-box .btn-tab-con{
        width:100%;
    }

    .search-list-form .list-form .list-box .list-con .info-bottom{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .search-list-form .list-form .list-box .list-con .info-bottom .book-status{
        margin-top:0.5rem;
    }

    .search-list-form .list-form .list-box .list-con .info-con .user-info-list{
        gap:1rem;
    }

    .search-list-form .list-form .list-box.user-type .list-con .info-profile{
        width:1.875rem;
    }

    .search-list-form .list-form .list-box.user-type .list-con .info-con{
        width:calc( 100% - 3.125rem )
    }

    .search-list-form .list-form .list-box .list-con .info-con .user-info-list{
        flex-wrap: wrap;
    }

    /* 상세화면 */
    .view-con-scection .over-head .over-box .over-con{
        width:100%;
    }

    .join-report-con .report-cont .join-index .join-index-con{
        width:100%;
        height:8.75rem;
    }
}

