<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LikeSNU 연구 트렌드</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../resources/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../resources/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../resources/css/contents.css" />
    <link rel="stylesheet" type="text/css" href="../resources/css/responsive.css" />

    <!-- JS -->
    <script src="../resources/js/jquery-3.7.1.js"></script>
    <script src="../resources/js/common.js"></script>

    <script>
        $(document).ready(function(){
            // 컨텐츠 내부 텝 실행 함수 - common.js에서 불러옴
            contentsTab();
        });
    </script>
</head>
<body>
    <!-- S:Header -->
    <header>
        <!-- S: Header Top-->
        <div class="header-top">
            <div class="header-logo">
                <a href="" class="logo-btn">
                    <img alt="서울대학교 빅데이터 지식정보플랫폼 로고" src="../resources/images/common/header_logo.png"/>
                </a>
            </div>
            <div class="top-menu">
                <a href="" class="top-link">LikeSNU 소개</a>
                <ul class="ico-list">
                    <li class="ico-con">
                        <a href="" class="ico-btn">
                            <img alt="" src="../resources/images/common/top_ico01.png"/>
                        </a>
                    </li>
                    <li class="ico-con">
                        <a href="" class="ico-btn">
                            <img alt="" src="../resources/images/common/top_ico02.png"/>
                        </a>
                    </li>
                    <li class="ico-con">
                        <a href="" class="ico-btn">
                            <img alt="" src="../resources/images/common/top_ico03.png"/>
                        </a>
                    </li>
                    <li class="ico-con">
                        <a href="" class="ico-btn">
                            <img alt="" src="../resources/images/common/top_ico04.png"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- E: Header Top-->

        <!-- S: Page Header -->
        <div class="page-header">
            <div class="page-header-box">
                <div class="page-nav">
                    <ul class="nav-box">
                        <li>홈</li>
                        <li>LikeSNU 연구 트렌드</li>
                        <li>저널 검색목록</li>
                    </ul>
                </div>
                <div class="page-btn">
                    <ul class="btn-list">
                        <li class="btn-con">
                            <a href="" class="edit-btn" ></a>
                        </li>
                        <li class="btn-con">
                            <a href="" class="file-btn" ></a>
                        </li>
                        <li class="btn-con">
                            <a href="" class="share-btn" ></a>
                        </li>
                        <li class="btn-con">
                            <a href="" class="chart-btn" ></a>
                        </li>
                        <li class="btn-con">
                            <a href="" class="columns-btn" ></a>
                        </li>
                    </ul>
                </div>
                <div class="page-title">
                    LikeSNU 연구 트렌드 
                </div>
            </div>
        </div>
        <!-- E: Page Header -->
    </header>
    <!-- E:Header -->

    <!-- S:Contents -->
    <div class="container">
        <!-- S: 검색영역 -->
        <section class="sub-search-section">
            <div class="section-con">
                <div class="search-form">
                    <div class="search-box">
                        <i>
                            <img src="../resources/images/common/search_ico.png"/>
                        </i>
                        <input type="text" class="search-input" placeholder="연구 주제 또는 키워드를 입력하세요"/>
                        <button type="button" class="input-del">
                            <img src="../resources/images/contents/input_delete.png"/>
                        </button>
                    </div>
                    <button type="button" class="search-btn" >검색</button>
                </div>
            </div>
        </section>
        <!-- E: 검색영역 -->

        <!-- S: 상세화면 TOP -->
        <section class="view-section">
            <div class="section-con">
                <div class="view-haed">
                    <div class="view-title">
                        <div class="title">Artificial Intelligence</div>
                        <div class="year-txt">2019 - 2024</div>
                    </div>
                    <div class="sub-txt">Artificial Intelligence</div>
                    <div class="view-txt">
                        Machine Learning은 인공지능의 한 분야로, 컴퓨터가 명시적으로 프로그래밍되지 않고도 데이터로부터 학습하고 개선할 수 있도록 하는 기술입니다. 패턴 인식, 예측 모델링, 자연어 처리 등 다양한 응용 분야에서 활용되며,<br>
                        최근 딥러닝의 발전으로 급속도로 성장하고 있는 연구 분야입니다.
                    </div>
                </div>

                <div class="view-tab-form">
                    <ul class="tab-box">
                        <li class="tab-con active">
                            <a href="" class="tab-cont over">Overview</a>
                        </li>
                        <li class="tab-con">
                            <a href="" class="tab-cont connect">Connected Topics</a>
                        </li>
                        <li class="tab-con">
                            <a href="" class="tab-cont ai">AI Forecast</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- E: 상세화면 TOP -->

        <!-- S: 상세화면 Contents -->
        <section class="view-con-scection">
            <div class="section-con">
                <div class="over-head">
                    <ul class="over-box">
                        <li class="over-con">
                            <i>
                                <img src="../resources/images/contents/overview_con_i01.png"/>
                            </i>
                            <div class="cont">
                                <div class="title">1345</div>
                                <div class="txt">Publications</div>
                            </div>
                        </li>
                        <li class="over-con">
                            <i>
                                <img src="../resources/images/contents/overview_con_i02.png"/>
                            </i>
                            <div class="cont">
                                <div class="title">10,560</div>
                                <div class="txt">Citations</div>
                            </div>
                        </li>
                        <li class="over-con">
                            <i>
                                <img src="../resources/images/contents/overview_con_i03.png"/>
                            </i>
                            <div class="cont">
                                <div class="title">15</div>
                                <div class="txt">Avg. per Paper</div>
                            </div>
                        </li>
                        <li class="over-con">
                            <i>
                                <img src="../resources/images/contents/overview_con_i04.png"/>
                            </i>
                            <div class="cont">
                                <div class="title">Trend</div>
                                <div class="txt">Decreased since 2021</div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- S: 공통 box 컨텐츠 -->
                <div class="view-form">
                    <div class="view-box">
                        <!-- S:Publication & Citation Trend -->
                        <div class="view-con box-2n">
                            <div class="view-con-head">
                                <div class="con-title">
                                    <i>
                                        <img src="../resources/images/contents/view_title_ico_arrow.png"/>
                                    </i>
                                    <div class="title">Publication & Citation Trend</div>
                                </div>
                            </div>
                            <div class="cont">
                                <div class="chart-box">
                                    <!-- 차트 영역 - 퍼블은 이미지 대체 -->
                                    <img src="../resources/images/sample/sample_graph01.png"/>
                                </div>
                            </div>
                        </div>
                        <!-- E:Publication & Citation Trend -->

                        <!-- S:Key Research TopicsKey Research Topics -->
                        <div class="view-con box-2n">
                            <div class="view-con-head">
                                <div class="con-title">
                                    <div class="title">Key Research TopicsKey Research Topics</div>
                                </div>
                            </div>
                            <div class="cont">
                                <div class="key-progress">
                                    <!-- S:loop -->
                                    <div class="progress">
                                        <div class="progress-title">
                                            <div class="txt">Machine Learning</div>
                                            <div class="percent-txt">
                                                <!-- 계산법이 설계서에 없음으로 하드코딩으로 수치 작업되어있음 -->
                                                +45%
                                            </div>
                                        </div>
                                        <!-- data value 값에 따라 bar의 width값 % -->
                                        <div class="bar-box" data-value="95">
                                            <div class="bar"></div>
                                        </div>
                                    </div>
                                    <!-- E:loop -->

                                    <div class="progress">
                                        <div class="progress-title">
                                            <div class="txt">Deep Learning</div>
                                            <div class="percent-txt">
                                                <!-- 계산법이 설계서에 없음으로 하드코딩으로 수치 작업되어있음 -->
                                                +52%
                                            </div>
                                        </div>
                                        <!-- data value 값에 따라 bar의 width값 % -->
                                        <div class="bar-box" data-value="75">
                                            <div class="bar"></div>
                                        </div>
                                    </div>

                                    <div class="progress">
                                        <div class="progress-title">
                                            <div class="txt">Neural Networks</div>
                                            <div class="percent-txt">
                                                <!-- 계산법이 설계서에 없음으로 하드코딩으로 수치 작업되어있음 -->
                                                +38%
                                            </div>
                                        </div>
                                        <!-- data value 값에 따라 bar의 width값 % -->
                                        <div class="bar-box" data-value="60">
                                            <div class="bar"></div>
                                        </div>
                                    </div>

                                    <div class="progress">
                                        <div class="progress-title">
                                            <div class="txt">Natural Language Processing</div>
                                            <div class="percent-txt">
                                                <!-- 계산법이 설계서에 없음으로 하드코딩으로 수치 작업되어있음 -->
                                                +40%
                                            </div>
                                        </div>
                                        <!-- data value 값에 따라 bar의 width값 % -->
                                        <div class="bar-box" data-value="50">
                                            <div class="bar"></div>
                                        </div>
                                    </div>

                                    <div class="progress">
                                        <div class="progress-title">
                                            <div class="txt">Reinforcement Learning</div>
                                            <div class="percent-txt">
                                                <!-- 계산법이 설계서에 없음으로 하드코딩으로 수치 작업되어있음 -->
                                                +34%
                                            </div>
                                        </div>
                                        <!-- data value 값에 따라 bar의 width값 % -->
                                        <div class="bar-box" data-value="40">
                                            <div class="bar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- E:Key Research TopicsKey Research Topics -->
                        
                        <!-- S:Key Researchers -->
                        <div class="view-con box-2n">
                            <div class="view-con-head">
                                <div class="con-title">
                                    <i>
                                        <img src="../resources/images/contents/view_title_ico_user.png"/>
                                    </i>
                                    <div class="title">Key Researchers</div>
                                </div>
                            </div>
                           
                            <div class="cont">
                                <div class="cont-tab-form">
                                    <!-- S: TAB -->
                                    <div class="cont-tab">
                                        <ul class="tab-list">
                                            <li class="tab-item active" data-tab="snu">
                                                <div class="tab-txt" >SNU</div>
                                            </li>
                                            <li class="tab-item" data-tab="domestic">
                                                <div class="tab-txt" >Domestic</div>
                                            </li>
                                            <li class="tab-item" data-tab="international">
                                                <div class="tab-txt" >International</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- E: TAB -->

                                    <!-- S: TAB contents -->
                                    <div class="tab-cont-box">
                                        <!-- S: SNU -->
                                        <div class="cont-box" data-name="snu">
                                            <div class="key-form">
                                                <ul class="key-list">
                                                    <!-- S:loop -->
                                                    <li class="key-con">
                                                        <div class="key-head">
                                                            <div class="key-title">
                                                                <div class="title">Dr. Kim Jihoon</div>
                                                                <div class="sub">Computer Science & Engineering</div>
                                                            </div>

                                                            <div class="bage-box">
                                                                <div class="bage orange-line">
                                                                    h-index: 24
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="key-count">
                                                            <div class="key-count-con">
                                                                <div class="key-name">Publications</div>
                                                                <div class="count">45</div>
                                                            </div>
                                                            <div class="key-count-con">
                                                                <div class="key-name">Citations</div>
                                                                <div class="count">1240</div>
                                                            </div>
                                                        </div>

                                                        <div class="key-papers">
                                                            <div class="title">Key Papers:</div>
                                                            <ul class="papers-list">
                                                                <li>Deep Learning Architectures</li>
                                                                <li>Neural Network Optimization</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <!-- E:loop -->

                                                    <li class="key-con">
                                                        <div class="key-head">
                                                            <div class="key-title">
                                                                <div class="title">Dr. Kim Jihoon</div>
                                                                <div class="sub">Computer Science & Engineering</div>
                                                            </div>

                                                            <div class="bage-box">
                                                                <div class="bage orange-line">
                                                                    h-index: 24
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="key-count">
                                                            <div class="key-count-con">
                                                                <div class="key-name">Publications</div>
                                                                <div class="count">45</div>
                                                            </div>
                                                            <div class="key-count-con">
                                                                <div class="key-name">Citations</div>
                                                                <div class="count">1240</div>
                                                            </div>
                                                        </div>

                                                        <div class="key-papers">
                                                            <div class="title">Key Papers:</div>
                                                            <ul class="papers-list">
                                                                <li>Deep Learning Architectures</li>
                                                                <li>Neural Network Optimization</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- E: SNU -->

                                        <!-- S: Domestic -->
                                        <div class="cont-box" data-name="domestic" >
                                            <div class="key-form">
                                                <ul class="key-list">
                                                    <!-- S:loop -->
                                                    <li class="key-con">
                                                        <div class="key-head">
                                                            <div class="key-title">
                                                                <div class="title">Dr. Kim Jihoon02</div>
                                                                <div class="sub">Computer Science & Engineering</div>
                                                            </div>

                                                            <div class="bage-box">
                                                                <div class="bage orange-line">
                                                                    h-index: 24
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="key-count">
                                                            <div class="key-count-con">
                                                                <div class="key-name">Publications</div>
                                                                <div class="count">45</div>
                                                            </div>
                                                            <div class="key-count-con">
                                                                <div class="key-name">Citations</div>
                                                                <div class="count">1240</div>
                                                            </div>
                                                        </div>

                                                        <div class="key-papers">
                                                            <div class="title">Key Papers:</div>
                                                            <ul class="papers-list">
                                                                <li>Deep Learning Architectures</li>
                                                                <li>Neural Network Optimization</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <!-- E:loop -->

                                                    <li class="key-con">
                                                        <div class="key-head">
                                                            <div class="key-title">
                                                                <div class="title">Dr. Kim Jihoon02</div>
                                                                <div class="sub">Computer Science & Engineering</div>
                                                            </div>

                                                            <div class="bage-box">
                                                                <div class="bage orange-line">
                                                                    h-index: 24
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="key-count">
                                                            <div class="key-count-con">
                                                                <div class="key-name">Publications</div>
                                                                <div class="count">45</div>
                                                            </div>
                                                            <div class="key-count-con">
                                                                <div class="key-name">Citations</div>
                                                                <div class="count">1240</div>
                                                            </div>
                                                        </div>

                                                        <div class="key-papers">
                                                            <div class="title">Key Papers:</div>
                                                            <ul class="papers-list">
                                                                <li>Deep Learning Architectures</li>
                                                                <li>Neural Network Optimization</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- E: Domestic -->

                                        <!-- S: International -->
                                        <div class="cont-box" data-name="international" >
                                            <div class="key-form">
                                                <ul class="key-list">
                                                    <!-- S:loop -->
                                                    <li class="key-con">
                                                        <div class="key-head">
                                                            <div class="key-title">
                                                                <div class="title">Dr. Kim Jihoon03</div>
                                                                <div class="sub">Computer Science & Engineering</div>
                                                            </div>

                                                            <div class="bage-box">
                                                                <div class="bage orange-line">
                                                                    h-index: 24
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="key-count">
                                                            <div class="key-count-con">
                                                                <div class="key-name">Publications</div>
                                                                <div class="count">45</div>
                                                            </div>
                                                            <div class="key-count-con">
                                                                <div class="key-name">Citations</div>
                                                                <div class="count">1240</div>
                                                            </div>
                                                        </div>

                                                        <div class="key-papers">
                                                            <div class="title">Key Papers:</div>
                                                            <ul class="papers-list">
                                                                <li>Deep Learning Architectures</li>
                                                                <li>Neural Network Optimization</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <!-- E:loop -->

                                                    <li class="key-con">
                                                        <div class="key-head">
                                                            <div class="key-title">
                                                                <div class="title">Dr. Kim Jihoon03</div>
                                                                <div class="sub">Computer Science & Engineering</div>
                                                            </div>

                                                            <div class="bage-box">
                                                                <div class="bage orange-line">
                                                                    h-index: 24
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="key-count">
                                                            <div class="key-count-con">
                                                                <div class="key-name">Publications</div>
                                                                <div class="count">45</div>
                                                            </div>
                                                            <div class="key-count-con">
                                                                <div class="key-name">Citations</div>
                                                                <div class="count">1240</div>
                                                            </div>
                                                        </div>

                                                        <div class="key-papers">
                                                            <div class="title">Key Papers:</div>
                                                            <ul class="papers-list">
                                                                <li>Deep Learning Architectures</li>
                                                                <li>Neural Network Optimization</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- E: International -->
                                    </div>
                                    <!-- E: TAB contents -->
                                </div>
                                
                            </div>
                        </div>
                        <!-- E:Key Researchers -->

                        <!-- S:Top Journals -->
                        <div class="view-con box-2n">
                            <div class="view-con-head">
                                <div class="con-title">
                                    <i>
                                        <img src="../resources/images/contents/view_title_ico_book.png"/>
                                    </i>
                                    <div class="title">Top Journals</div>
                                </div>
                            </div>
                            
                            <div class="cont">
                                <ul class="journal-list">
                                    <li class="journal-box">
                                        <div class="head-box">
                                            <div class="title-box">
                                                <div class="title">Nature Machine Intelligence</div>
                                                <div class="bage-box">
                                                    <div class="bage sky-line">IF: 87.241</div>
                                                    <div class="bage white-bage">Q1</div>
                                                </div>
                                            </div>

                                            <a href="" class="link-btn">
                                                <img src="../resources/images/contents/link_ico.png"/>
                                            </a>
                                        </div>
                                        
                                        <div class="key-papers">
                                            <div class="title">Key Papers:</div>
                                            <div class="key-txt">
                                                Covers machine learning, robotics, and AI. Focuses on novel algorithms, theoretical advances, and real-world applications.
                                            </div>
                                        </div>

                                    </li>

                                    <li class="journal-box">
                                        <div class="head-box">
                                            <div class="title-box">
                                                <div class="title">Nature Machine Intelligence</div>
                                                <div class="bage-box">
                                                    <div class="bage sky-line">IF: 87.241</div>
                                                    <div class="bage white-bage">Q1</div>
                                                </div>
                                            </div>

                                            <a href="" class="link-btn">
                                                <img src="../resources/images/contents/link_ico.png"/>
                                            </a>
                                        </div>
                                        
                                        <div class="key-papers">
                                            <div class="title">Key Papers:</div>
                                            <div class="key-txt">
                                                Covers machine learning, robotics, and AI. Focuses on novel algorithms, theoretical advances, and real-world applications.
                                            </div>
                                        </div>
                                    </li>

                                    <li class="journal-box">
                                        <div class="head-box">
                                            <div class="title-box">
                                                <div class="title">Nature Machine Intelligence</div>
                                                <div class="bage-box">
                                                    <div class="bage sky-line">IF: 87.241</div>
                                                    <div class="bage white-bage">Q1</div>
                                                </div>
                                            </div>

                                            <a href="" class="link-btn">
                                                <img src="../resources/images/contents/link_ico.png"/>
                                            </a>
                                        </div>
                                        
                                        <div class="key-papers">
                                            <div class="title">Key Papers:</div>
                                            <div class="key-txt">
                                                Covers machine learning, robotics, and AI. Focuses on novel algorithms, theoretical advances, and real-world applications.
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- E:Top Journals -->

                        <!-- S:Recommended Articles -->
                        <div class="view-con box-1n">
                            <div class="view-con-head">
                                <div class="con-title">
                                    <i>
                                        <img src="../resources/images/contents/view_title_ico_file.png"/>
                                    </i>
                                    <div class="title">Recommended Articles</div>
                                </div>

                                <div class="select-form">
                                    <div class="select-box">
                                        <div class="choice-box">Relevance</div>
                                        <ul class="select-list">
                                            <li class="option active">Relevance</li>
                                            <li class="option">최신순</li>
                                            <li class="option">피인용순</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="cont">
                                <div class="view-recommend">
                                    <ul class="recommend-list">
                                        <!-- S: loop -->
                                        <li class="recommend-box">
                                            <a href="" class="recommend-con" >
                                                <div class="title">
                                                    Deep Learning for Medical Image Analysis: A Comprehensive Survey
                                                </div>
                                                <div class="sub">
                                                    Kim J., Lee S., Park M.
                                                </div>
                                                <div class="info-box">
                                                    <ul class="info-list">
                                                        <li>Nature Machine Intelligence</li>
                                                        <li>2024</li>
                                                        <li>342 citations</li>
                                                    </ul>
                                                    <div class="bage-box">
                                                        <div class="bage green-bage">
                                                            98% match
                                                        </div>
                                                    </div>
                                                </div>
                                                <i class="link-ico">
                                                    <img src="../resources/images/contents/link_ico.png"/>
                                                </i>
                                            </a>
                                        </li>
                                        <!-- E: loop -->

                                        <li class="recommend-box">
                                            <a href="" class="recommend-con" >
                                                <div class="title">
                                                    Deep Learning for Medical Image Analysis: A Comprehensive Survey
                                                </div>
                                                <div class="sub">
                                                    Kim J., Lee S., Park M.
                                                </div>
                                                <div class="info-box">
                                                    <ul class="info-list">
                                                        <li>Nature Machine Intelligence</li>
                                                        <li>2024</li>
                                                        <li>342 citations</li>
                                                    </ul>
                                                    <div class="bage-box">
                                                        <div class="bage green-bage">
                                                            98% match
                                                        </div>
                                                    </div>
                                                </div>
                                                <i class="link-ico">
                                                    <img src="../resources/images/contents/link_ico.png"/>
                                                </i>
                                            </a>
                                        </li>

                                        <li class="recommend-box">
                                            <a href="" class="recommend-con" >
                                                <div class="title">
                                                    Deep Learning for Medical Image Analysis: A Comprehensive Survey
                                                </div>
                                                <div class="sub">
                                                    Kim J., Lee S., Park M.
                                                </div>
                                                <div class="info-box">
                                                    <ul class="info-list">
                                                        <li>Nature Machine Intelligence</li>
                                                        <li>2024</li>
                                                        <li>342 citations</li>
                                                    </ul>
                                                    <div class="bage-box">
                                                        <div class="bage green-bage">
                                                            98% match
                                                        </div>
                                                    </div>
                                                </div>
                                                <i class="link-ico">
                                                    <img src="../resources/images/contents/link_ico.png"/>
                                                </i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                        <!-- E:Recommended Articles -->


                    </div>
                </div>
                <!-- E: 공통 box 컨텐츠 -->
            </div>
        </section>
        <!-- E: 상세화면 Contents -->
    </div>
    <!-- E:Contents -->

    <!-- S:Footer -->
    <footer>
        <div class="footer-form">
            <div class="footer-info">
                <ul class="footer-info-list">
                    <li>08826 서울시 관악구 관악로 1 서울대학교 중앙도서관</li>
                    <li>대표전화 02-880-8001, 5325</li>
                    <li>단체명 : 서울대학교 중앙도서관  ·  대표자 : 장덕진  ·  고유번호 : 119-82-08544</li>
                </ul>
            </div>
            <div class="footer-btn">
                <ul class="btn-list">     
                    <li>
                        <a href="">
                            개인정보 처리방침 
                        </a>
                    </li>
                    <li>
                        <a href="">
                            이메일주소 무단수집 거부
                        </a>
                    </li>
                    <li>
                        <a href="">
                            이용 약관
                        </a>
                    </li>
                    <li>
                        <a href="">
                            원격지원
                        </a>
                    </li>
                    <li>
                        <a href="">
                            찾아오는 길
                        </a>
                    </li>
                    <li>
                        <a href="">
                            서비스별 연락처
                        </a>
                    </li>
                </ul>
            </div>
            <div class="copylight">
                2022 Seoul National University Library. All rights reserved.
            </div>
        </div>
    </footer>
    <!-- E:Footer -->
</body>
</html>